
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div style="display: flex; justify-content: center; margin-top: 20px;">
    <div style="width: 100%; max-width: 400px;">
        <a href="/Users/Create" class="btn btn-primary" style="width: 100%; margin-bottom: 10px;">Register a User</a>
        <a href="/Contractors/Create" class="btn btn-primary" style="width: 100%;">Register a Contractor</a>
    </div>
</div>
